/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fbfcff;
  color: white;
}

/* Navbar Container */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background:white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Logo */
.logo {
  font-size: 24px;
  font-weight: 700;
  color:brown;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.logo:hover {
  color: #fff;
}

/* Nav links container */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links li a {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  color: #0b0b0b;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
  padding: 6px 12px;
  border-radius: 6px;
}

/* Hover & active state */
.nav-links li a:hover {
  background-color:white;
  color: #b68b00;
}

.nav-links li a.active {
  background-color: #8a6b03a0 ;
  color:black;
}

/* Hamburger menu (mobile view) */
.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 1100;
}

.menu-icon span {
  background:black;
  height: 3px;
  width: 28px;
  margin: 4px 0;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* Responsive for smaller screens */
@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background: #0b1120;
    flex-direction: column;
    align-items: flex-start;
    width: 220px;
    height: auto;
    gap: 15px;
    padding: 20px;
    display: none;
    border-left: 1px solid #1c253b;
    box-shadow: -3px 0 8px rgba(231, 226, 226, 0.3);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li a {
    width: 100%;
    padding: 10px;
  }
}
