/* Overall Contact Page Layout */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full screen */
  width: 100vw;  /* Full width */
  color: white;
  text-align: center;
  padding: 0 20px;
  background: beige;
  box-sizing: border-box;
  overflow: hidden;
}

/* Page Title */
.contact-page h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #4a2a00;
  text-transform: uppercase;
}

/* Contact Info Box */
.contact-box {
 background: #fff8dc;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #625e4f;
  width: 500px;
  line-height: 1.6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.contact-box h2 {
  font-size: 26px;
  color:  #b68b00;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.contact-box p {
  font-size: 17px;
  margin: 12px 0;
  line-height: 1.6;
}

.contact-box strong {
  color: #3a2d00;
}

/* FOOTER */
.footer {
  background: #4E342E;  
  color: #f4e9d8;       
  padding: 60px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Brand name */
.footer h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Tagline */
.footer p {
  margin-bottom: 20px;
  color: #e8d8c3;
  font-size: 14px;
}

/* Social Icons */
.social-links a {
  margin: 0 10px;
  color: #f4e9d8;
  font-size: 22px;
  transition: 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
  transform: scale(1.15);
}

/* Footer links */
.footer-links {
  margin-top: 25px;
}

.footer-links a {
  margin: 0 12px;
  color: #e0cdb5;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

/* Divider */
.footer-divider {
  width: 90%;
  height: 1px;
  background: #7a655f;
  margin: 30px auto;
}

/* Copyright */
.footer-bottom {
  font-size: 13px;
  color: #d9c7b4;
  margin-top: 15px;
}

