/* GENERAL */
.home-page {
  font-family: 'Poppins', sans-serif;
  color: #111;
}
/* TOP STATIC BANNER */
.top-banner{
  margin-top: 25px;
  padding-top: 45px;
  overflow: hidden;
}
.top-banner video {
  width: 100%;
  height: auto;   
  object-fit: contain;
  /* margin-bottom: 20px; */
}


/* HERO */
.hero-carousel {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

/* Slide container */
.carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}

/* EACH SLIDE */
.carousel-slide {
  width: 100%;
  height: 100%;
  display: none;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT ON SLIDE */
.hero-text {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  padding: 25px 40px;
  border-radius: 10px;
  text-align: right;
}

.hero-text h1 {
  font-size: 50px;
  font-weight: 600;
}

.hero-text p {
  font-size: 20px;
  margin-top: 5px;
  color: #333;
}

/* BUTTON */
.shop-btn {
  margin-top: 15px;
  padding: 12px 30px;
  background: #111;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ARROWS */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  user-select: none;
  transform: translateY(-50%);
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
  color: #f1f1f1;
}

/* DOTS */
.dots-container {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #111;
}

/* FADE ANIMATION */
.fade {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1; }
}


/* CATEGORIES */
.categories {
  padding: 80px 60px;
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.category-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.category-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.category-card p {
  padding: 15px;
  font-size: 18px;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* FOOTER */
.footer {
  background: #111;
  padding: 40px 0;
  color: #fff;
  text-align: center;
}

.footer h3 {
  font-size: 22px;
}

.footer-links a {
  margin: 0 15px;
  color: #aaa;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fff;
}

.social-links a {
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
}
