/* GENERAL */
.home-page {
  font-family: 'Poppins', sans-serif;
  color: #111;
  padding-top: 15px;
}
/* TOP STATIC BANNER */
.top-banner {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 80px;       
  /* padding: 0;       */
}

.top-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: center; */
  display: block;
  /* margin-bottom: 20px; */
}

/* CATEGORIES */
.categories {
  padding: 80px 60px;
  text-align: center;
}

.section-title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.category-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s ease;
}

.category-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.category-card p {
  padding: 15px;
  font-size: 18px;
}

.category-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}




/* BUTTON */
.shop-btn {
  margin-top: 15px;
  padding: 12px 30px;
  background: #111;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ARROWS */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 20px;
  font-size: 30px;
  color: white;
  font-weight: bold;
  user-select: none;
  transform: translateY(-50%);
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
  color: #f1f1f1;
}

/* DOTS */
.dots-container {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #111;
}

/* FADE ANIMATION */
.fade {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from { opacity: 0.4; }
  to { opacity: 1; }
}

/* FOOTER */
.footer {
  background: #4E342E;  
  color: #f4e9d8;       
  padding: 60px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Brand name */
.footer h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

/* Tagline */
.footer p {
  margin-bottom: 20px;
  color: #e8d8c3;
  font-size: 14px;
}

/* Social Icons */
.social-links a {
  margin: 0 10px;
  color: #f4e9d8;
  font-size: 22px;
  transition: 0.3s ease;
}

.social-links a:hover {
  color: #ffffff;
  transform: scale(1.15);
}

/* Footer links */
.footer-links {
  margin-top: 25px;
}

.footer-links a {
  margin: 0 12px;
  color: #e0cdb5;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #fff;
}

/* Divider */
.footer-divider {
  width: 90%;
  height: 1px;
  background: #7a655f;
  margin: 30px auto;
}

/* Copyright */
.footer-bottom {
  font-size: 13px;
  color: #d9c7b4;
  margin-top: 15px;
}
